.warp {
  height: 100vh;
  width: 100%;
  background: linear-gradient(200deg, #fff, #c0c6cf);
  display: flex;
  justify-content: center;
  align-items: center;
}
// #form {
//   box-sizing: content-box;
//   padding: 20px;
//   background-color: #fff;
// }
